<tr>
  <td>
    <%= video.title %>
  </td>
  <td>
    <%= video.views %>
  </td>
  <td>
    <%= video.user.name %>
  </td>
  <td>
    <div class="btn-toolbar">
      <%= link_to "Watch", video_path, class: "btn btn-sm btn-primary" %>
      <%= link_to "Edit", edit_video_path, class: "btn btn-sm btn-primary" %>
      <%= link_to "Delete", edit_video_path, class: "btn btn-sm btn-danger", method: :delete, data: { disable_with: "That will be permanent, are you sure?" } %>
    </div>
  </td>
</tr>
