<tr>
  <td class="col-md-3">
    <%= video.title %>
  </td>
  <td class="col-md-3">
    <%= video.views %>
  </td>
  <% if current_user.admin? %>
    <td class="col-md-3">
      <%= video.user.email %>
    </td>
  <% end %>
  <td class="col-md-3">
    <div class="btn-toolbar pull-right">
      <%= link_to "Watch", video_path(video.id), class: "btn btn-sm btn-primary" %>
      <%= link_to "Edit", edit_video_path(video.id), class: "btn btn-sm btn-primary" %>
      <%= link_to "Delete", video_path(video.id), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "This will be permanent, are you sure?" } %>
    </div>
  </td>
</tr>
