<!DOCTYPE html>
<html>
  <head>
    <title>Challenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <div class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <%= link_to "Home", :root, class: "navbar-brand" %>
            </div>
            <%= render "layouts/menu" %>
          </div>
        </div>
      </header>
    <% end %>
    <div class="container">
      <div class="col-md-12 text-center">
        <% if notice.present? %>
          <p class="alert alert-success"><%= notice %></p>
        <% elsif alert.present? %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <%= yield %>
    </div>
    </div>
  </body>
</html>
